@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);

.cta {
  background: #55506E;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 45%;
  margin:20px auto;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 600px) {
  .cta {
    line-height: 1.4;
    padding: 1.25rem 1rem;
  }
}

form {
  background: rgb(239, 237, 248);
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  margin: auto;
  width:45%;
  height:70px;
  box-sizing: border-box;
}
form input {
  padding: 0 1rem;
}
form input[type="number"] {
  border: none;
  font-size: 1rem;
  flex: 1;
  outline: #55506E;
  margin-left: 10px;
  margin-right: 5px;
}
form input[type="number"]:focus {
  outline: 0.25rem solid #55506E;
}
form input[type="button"] {
  background: linear-gradient(#55506E, rgb(154, 80, 80));
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
  margin-right: 10px;
}
form input[type="button"]:hover {
  background: linear-gradient(#55506E, rgb(154, 80, 80));
}
@media screen and (max-width: 600px) {
  form {
    flex-flow: row wrap;
  }
  form input {
    padding: 1rem !important;
    margin: 0 !important;
    flex: 100%;
  }
  form input[type="button"] {
    margin-top: 1rem !important;
  }
}

.hidden {
  display: none;
}
